html{
  height: 100%;
}
body{
  background-image: url("massPeople.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.conatainer{
  display: flex;
  height: 100%;
  margin: 0 20rem;
  justify-content: space-between;
  align-items: center;
  border: 10px solid gold;



}
.key{
  width: 7rem;
  height: 6rem;
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: serif;
  background-color: #00000070;
  padding: 10px 0;




}

p{
  color: gold;
  text-align: bottom;
  font-size: 1rem;

}

.a{

}

.s{

}

.d{

}

.f{

}

.g{

}

.h{

}

.j{

}

.k{

}

.l{

}
